@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  color: #393E46;
}



.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 1px;
  /*padding: 15px;*/
  /*border: 1px solid #232528;*/
}

.row {
  margin-top: 100px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#app {
  height: 90vh;
  /* max-height: 90vh; */
}

#navbar {
  display: flex;
  gap: 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
}

#navbar a {
  text-decoration: none;
}

#navbar a:hover {
  cursor: pointer;
}

.navbar-item {
  color: #393E46;
  font-size: 18px;
  font-weight: 900;
}

.navbar-item:hover{
  cursor: pointer;
}

#toolbar {
  position: fixed;
  top: 30vh;
  left: 30px;
  max-width: 54px;
  background-color: #F7F7F7;
  border: 2px solid #393E46;

  display: flex;
  flex-wrap: wrap;
}

.toolbar-item {
  height: 54px;
  border-top: 2px solid #393E46;
}

.toolbar-item:hover{
  cursor: pointer;
}

.toolbar-item img {
  padding: 12.5px;
}

#layer-menu{
  position: fixed;
  top: 85vh;
  left: 30px;
  background-color: #EEEEEE;
  border: 2px solid #393E46;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.layer-menu-item{
  width: 100%;
  border-top: 2px solid #393E46;
  /* padding: 5px; */
  font-weight: 900;
  font-size: 12;

  display: flex;
  align-items: middle;
}

.layer-menu-item-text{
  width: 100%;
  padding: 5px;
}

.layer-menu-item-text:hover{
  cursor: pointer;
}


.layer-menu-item-visibility{
  margin: 5px;
  padding: 5px; 
  width: auto;
  height: 15px;
  background-color: none;
}

.layer-menu-item-visibility img{

}

#workspace {
  margin-top: 10vh;
  /* height: 80vh; */
  margin-left: 25vh;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  max-width: 170vh;
  max-height: 80vh;

}

canvas {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-55%, -50%);

  background-color: none;
  border: #F7F7F7 5px solid;
  max-width: 170vh;
  max-height: 80vh;
}

#workspace-canvas{
  z-index: 1;
}

#dots-canvas{
  z-index: 2;
}

#drawing-canvas {
  z-index: 3;
  display: none;
}

#mix-canvas{
  display: none;
}


/* #file-selector::-webkit-file-upload-button {
  visibility: hidden;
}

#file-selector::before {
  content: 'Open';
  display: inline-block;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
} */



#file-selecor{
  visibility: hidden
}

#label-for-file-selector:hover{
  cursor: pointer;
}

input[type=range][orient=vertical] {
  appearance: slider-vertical;
  display: inline-block;
  width: 100%;
  height: 75px;
  background: #fff0;
}

input[type=color]{
  border: none;
  width: 50px;
  height: 50px;
}

#range-option{
  padding: 10px 0;
  height: inherit;
}


#connect-dots-menu{
  position: fixed;
  top: 90%;
  left: 90%;
  display: flex;
  
  background-color: #87CBB9;
  padding: 10px;
}

#connect-dots-menu:hover{
  cursor: pointer;
}

#connect-dots-menu-text{
  font-size: 16px;
  font-weight: 800;
  color: #F7F7F7;
}


#connect-dots-menu-img img{
  height: 35px;
  padding-bottom: 15px;
}