@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  color: #393E46;
}

body {}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 1px;
  /*padding: 15px;*/
  /*border: 1px solid #232528;*/
}

.row {
  margin-top: 100px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#app {
  height: 90vh;
  /* max-height: 90vh; */
}

#navbar {
  display: flex;
  gap: 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
}

#navbar a {
  text-decoration: none;
}

#navbar a:hover {
  cursor: pointer;
}

.navbar-item {
  color: #393E46;
  font-size: 18px;
  font-weight: 900;
}

#toolbar {
  position: fixed;
  top: 30vh;
  left: 30px;
  max-width: 54px;
  background-color: #F7F7F7;
  border: 2px solid #393E46;

  display: flex;
  flex-wrap: wrap;
}

.toolbar-item {
  width: 100%;
  max-height: 54px;
  border-top: 2px solid #393E46;
}

.toolbar-item img {
  padding: 12.5px;
}

#workspace {
  margin-top: 10vh;
  height: 80vh;
  margin-left: 20vh;
  width: 170vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 170vh;
  max-height: 80vh;
}

#workspace-canvas {
  background-color: none;
  border: #F7F7F7 5px solid;

  max-width: 170vh;
  max-height: 80vh;

  overflow: auto;
}

